@charset "UTF-8";
*{margin: 0;padding: 0;}

.container{
    border: 2px solid #000000;
    background-color: rgb(255 190 85);
    padding: 10px;
    display: grid;
}

.item{
    border: 2px solid #000000;
    background-color: rgb(151 255 131);
    padding: 10px;
}

align-self 개별 아이템 세로 정렬

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.item:nth-child(2){
    align-self:center;
}