@charset "UTF-8";
*{margin: 0;padding: 0;}

.container{
    border: 2px solid #000000;
    background-color: rgb(255 190 85);
    padding: 10px;
    display: grid;
}

.item{
    border: 2px solid #000000;
    background-color: rgb(151 255 131);
    padding: 10px;
}

.container{
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    justify-items: stretch;
    justify-items: start;
    justify-items: center;
    justify-items: end;
}

/* align-items -각셀 안에서의 움직임 */

.container{
    display: grid;
    gap:10px;
    grid-template-columns:  repeat(3,1fr);
    height: 120vh;
    align-items: stretch;
    align-items: start;
    align-items: center;
}
.item{}